/* Variables globales */
:root {
    --primary-color: #FFCA09;
    --accent-color: #EF3E36;
    --text-color: #333;
    --font-primary: 'Roboto', sans-serif;
}

/* Estilos generales */
body {
    font-family: var(--font-primary);
}

/* Header Styles */
.header {
    height: 100%;
    position: relative;
}

.navbar {
    height: 45px;
    background-color: var(--primary-color);
    opacity: 0.9;
}

.slider-container {
    height: calc(591px - 45px);
    position: relative;
    background-size: cover;
    background-position: center;
}

.text-box {
    width: 754px;
    height: 116px;
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-title {
    font-size: 64px;
    line-height: 75px;
}

.slider-description {
    font-size: 36px;
    line-height: 42.19px;
}

.interactive-btns {
    position: absolute;
    bottom: 57px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.slider-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.slider-dot.active {
    background-color: #000;
}

/* Products Styles */
.products {
    width: 754px;
    height: 100%;
}

.product-img {
    width: 428px;
    height: 100%;
    object-fit: cover;
}

.card-product {
    width: 425px;
    height: 359px;
    background: #F1F1F1;
    border-radius: 5px 0 0 0;
    padding: 20px;
}

.product-text {
    width: 95%;
    height: 164px;
}

.product-text h2 {
    font-size: 24px;
    line-height: 28.13px;
}

.product-text p {
    font-size: 14px;
    line-height: 18px;
}

.product-list h3 {
    font-size: 14px;
    line-height: 16.41px;
}

.product-list ul {
    font-size: 12px;
    line-height: 14.06px;
}

/* Brands Styles */
.brands {
    height: 488px;
    position: relative;
    height: 100%;
    background-size: cover;
}

.brands h2 {
    padding-top: 70px;
    font-size: 48px;
    line-height: 56.25px;
    text-align: center;
}

.brand-img {
    width: 293.82px;
    height: 255.55px;
    object-fit: contain;
}

/* Contact Styles */
.contact {
    width: 696px;
    height: 100%;
}

.contact-img {
    width: 428px;
    height: 452px;
    object-fit: cover;
}

.card-contact {
    width: 345px;
    height: 310px;
    padding: 20px;
    background: #F1F1F1;
    position: absolute; 
    border-radius: 5px 0 0 0;
    left: 10%;
}

.card-contact h2 {
    font-size: 40px;
    line-height: 46.88px;
}

.contact-list {
    font-size: 16px;
    line-height: 18.75px;
    list-style: none;
    padding: 0;
}

.contact-list i {
    margin-right: 10px;
}

/* Footer Styles */
.footer {
    height: 221px;
    background: var(--primary-color);
    padding: 20px 0;
    height: 100%;
}

.footer-logo {
    width: 499px;
    height: 124px;
    object-fit: contain;
}

.footer-text {
    font-size: 20px;
    line-height: 23.44px;
    color: var(--accent-color);
}

.footer-links {
    width: 179.89px;
    height: 113.77px;
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: var(--accent-color);
    font-size: 20px;
    line-height: 23.44px;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .text-box {
        width: 90%;
        left: 5%;
        transform: none;
    }   
    
    .footer-logo {
        width: 100%;
        height: auto;
    }
    
    .products,
    .contact{
        width: 110%;
    }

    .card-product {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .slider-title {
        font-size: 48px;
        line-height: 56px;
    }
    
    .slider-description {
        font-size: 24px;
        line-height: 32px;
    }
    
    .card-contact {
        position: absolute;
        left: 10%;
        height: 50%;
        width: 80%;
        opacity: 0.9;
    }
    
    .product-img,
    .contact-img {
        width: 100%;
        height: 100%;
    }
    
    .card-product {
        position: absolute;
        left: 10%;
        top: 85%;
        height: 50%;
        width: 80%;
        opacity: 0.9;
    }
}
